.firstCampaignRow {
  width: 900px;
  height: 450px;
  margin-bottom: 105px;
  margin-left: 15%;
}

.firstCampaignRowPic {
  margin-top: 90px;
  margin-bottom: 8px;
  opacity: 1;
  width: 900px;
  height: 450px;
  text-align: center;
}

.overlay {
  opacity: 0;
}

.campagnePage .firstCampaignRow:hover .overlay {
  opacity: 1;
}

.campagnTitle {
  position: relative;
  left: 250px;
  top: -100px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 20px;
  color: black;
  z-index: -1;
}

.campagnDescription {
  position: relative;
  left: 150px;
  top: -170px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 20px;
  color: black;
  z-index: -1;
  font-size: 12px;
  width: 150px;
}

.firstRowPic:hover {
  cursor: pointer;
  opacity: 0.3;
}

.secondRowPic {
  width: 443px;
  height: 450px;
  margin-bottom: 10px;
}

.n°2 {
  margin-left: 14px;
}

.thirdRow {
  margin-bottom: 100px;
}

.thirdRowPic {
  width: 900px;
  height: 450px;
}

.trait {
  align-items: center;
  width: 900px;
  height: 1px;
  border-bottom: 1px solid black;
  margin-left: 14.5%;
  margin-bottom: 15px;
}
